* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#header {
    grid-column: 1 / span 2;
    /* display: flex;
    justify-content: space-between; */
}

#container > div {
    border: 1px solid black;
}